<h1>Matches</h1>

<h2>All users</h2>


<% @users.each do |user| %>
  <% if user.admin? %>
<div class="row admin_row">
  <div class="col-xs-6 text-right">
    <p>Email: <%= user.email %></p>
  </div>
  <div class="col-xs-6">
    <%= form_for user do |f| %>
    <% if user.not_admin? %>
      <%= f.check_box :admin %> Admin
      <%= f.submit "Promote to Admin", class:"btn btn-success" %>
      <% elsif user.admin? %>
      <%= f.check_box :admin %> Admin
      <%= f.submit "Demote from Admin", class:"btn btn-danger" %>
    <% end %>
    <% end %>
  </div>
</div>
  <% elsif user.not_admin? %>
  <div class="row admin_row">
    <div class="col-xs-6 text-right">
      <p>Email: <%= user.email %></p>
    </div>
    <div class="col-xs-6">
      <%= form_for user do |f| %>
      <% if user.not_admin? %>
        <%= f.check_box :admin %> Admin
        <%= f.submit "Promote to Admin", class:"btn btn-success" %>
        <% elsif user.admin? %>
        <%= f.check_box :admin %> Admin
        <%= f.submit "Demote from Admin", class:"btn btn-danger" %>
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
