<% @students.each do |student| %>
<ul>
<li><%= student.email %></li>
</ul>
<% end %>

<!-- <h1>Pairs</h1>
<%= @pairs %>
<h1>Array's</h1>
<h1><%= @arr1 %></h1>
<h1><%= @arr2 %></h1> -->

<%= @all_combinations %>
<h1>First array</h1>
<%= @arr1 %>

<%= link_to show_pair_path do %>
<div class="btn btn-primary">
  Get New Pair
</div>
<% end %>
