<%= form_for @pair do |f| %>
<button type="button" class="btn btn-default btn-lg" style = "margin-top:0;">
    <%= f.submit "Make new pairs", method: :update, remote: true %>
</button>
<% end %>

<h1>Today's pairs</h1>
<ol>
<% if @daypair != nil %>
<li><%= @daypair.date %>
<%= @daypair.pairs %></li>
<% end %>
</ol>

<h1>History</h1>
<ol>
<% if @daypairs != nil %>
<% @daypairs.each do |daypair| %>
<li><%= daypair.date %>
<%= daypair.pairs %></li>
<% end %>
<% end %>
</ol>
