<h1 class="text-center">Last created pair</h1>
  <% if @daypair != nil %>
  <p class="text-center"><%= @daypair.date %></p>
  <div class="container">
    <ul class="text-center all_pairs">
      <% @daypair.pairs.each do |pair| %>
      <li class="pair_today"><%= pair.join(" - ") %></li>
      <% end %>
      <% end %>
    </ul>
  </div>

  <div class="text-center">
    <%= form_for @daypair do |f| %>
        <%= f.label :date %>
        <%= f.date_select :date %>
        <%= f.submit "Make new pairs", method: :update, class:"btn btn-success pair_submit" %>
    <% end %>
  </div>


<h1 class="text-center">History</h1>
<ol class="text-center history_pairs">
  <% if @daypairs != nil %>
    <% @daypairs.each do |daypair| %>
    <li class="hist_pair"><strong class="date"><%= daypair.date %></strong>
    <% daypair.pairs.each do |pairs| %>
    <p><%= pairs.join(" - ") %></p>
    </li>
    <% end %>
    <hr>
    <% end %>
  <% end %>
</ol>


<h1 class="text-center">Future pairs</h1>
<ol class="text-center history_pairs">
  <% if @dayfuture != nil %>
    <% @dayfuture.each do |daypair| %>
    <li class="hist_pair"><strong class="date"><%= daypair.date %></strong>
    <% daypair.pairs.each do |pairs| %>
    <p><%= pairs.join(" - ") %></p>
    </li>
    <% end %>
    <hr>
    <% end %>
  <% end %>
</ol>
