<h1>My match today</h1>
  <% if @pair != nil %>
  <%= @pair[0] if @pair[0] != current_user.full_name %> -
  <%= @pair[1] if @pair[1] != current_user.full_name %>
<% else %>
    <h1>Lonely, I'm so lonely </h1>
<% end %>

<% if @daypairs != nil %>
<h1>History</h1>
  <% @daypairs.each do |daypair| %>
  <% daypair.pairs.each do |pairs| %>
  <% pairs.each do |pair| %>
  <% if pair == current_user.full_name  %>
  <li><u><%= daypair.date %> : </u></br>
  <%= pairs[0] if pairs[0] != current_user.full_name %>
  <%= pairs[1] if pairs[1] != current_user.full_name %>
  <% end %>
  <% end %>
  <% end %>
  </li></br>
  <% end %>
  <% end %>
